@charset "utf-8";

p {
    font-size: 20px;
    font-family: Papyrus;
}
h3 {
     font-size: 20px;
     font-family: Papyrus;
 }
h1 {
    font-size: 30px;
    font-family: Papyrus;
}
input, textarea{
    background-color: rgba(255,255,255,.5);
}
input:hover, textarea:hover {
    color: #ffffff;
    background-color: black;
}
button{
    font-size: 20px;
    font-family: Papyrus;
}
#tudo {
    background-color:#fff;
    width: 900px; /*largura da caixa*/
    margin: 0px auto 0px auto;
    box-shadow: 0px 0px 25px;
    padding: 10px;
}
#psub{
    margin-bottom: 1px;
    border-bottom: double 2px #ff0011;
    border-top: double 2px #ff0011;
    background: url("_imagens/sub.png") no-repeat 95% 45%;
    padding: 10px;
}
#pmult{
    margin-bottom: 1px;
    border-bottom: double 2px #ff0011;
    border-top: double 2px #ff0011;
    background: url("_imagens/mult.png") no-repeat 95% 45%;
    padding: 10px;
}
#pdiv{
    margin-bottom: 1px;
    border-bottom: double 2px #ff0011;
    border-top: double 2px #ff0011;
    background: url("_imagens/div.png") no-repeat 95% 100%;
    padding: 10px;
}
#pmedpon{
    margin-bottom: 1px;
    border-bottom: double 2px #ff0011;
    border-top: double 2px #ff0011;
    background: url("_imagens/medpon.png") no-repeat 95% 40%;
    padding: 10px;
}
#pdesc{
    margin-bottom: 1px;
    border-bottom: double 2px #ff0011;
    border-top: double 2px #ff0011;
    background: url("_imagens/desc.png") no-repeat 95% 40%;
    padding: 10px;
}
#psal {
    margin-bottom: 1px;
    border-bottom: double 2px #ff0011;
    border-top: double 2px #ff0011;
    background: url("_imagens/Sal.png") no-repeat 95% 40%;
    padding: 10px;
}
#pnovpes {
    margin-bottom: 1px;
    border-bottom: double 2px #ff0011;
    border-top: double 2px #ff0011;
    background: url("_imagens/peso.png") no-repeat 95% 40%;
    padding: 10px;
}
#pconv {
    margin-bottom: 1px;
    border-bottom: double 2px #ff0011;
    border-top: double 2px #ff0011;
    background: url("_imagens/kg_g.png") no-repeat 95% 40%;
    padding: 10px;
}
#partrap {
     margin-bottom: 1px;
     border-bottom: double 2px #ff0011;
     border-top: double 2px #ff0011;
     background: url("_imagens/trap.png") no-repeat 95% 40%;
     padding: 10px;
 }
#parquad {
    margin-bottom: 1px;
    border-bottom: double 2px #ff0011;
    border-top: double 2px #ff0011;
    background: url("_imagens/quad.png") no-repeat 95% 40%;
    padding: 10px;
}
#parlog {
    margin-bottom: 1px;
    border-bottom: double 2px #ff0011;
    border-top: double 2px #ff0011;
    background: url("_imagens/log.png") no-repeat 100% 40%;
    padding: 10px;
}
#psalmin {
    margin-bottom: 1px;
    border-bottom: double 2px #ff0011;
    border-top: double 2px #ff0011;
    background: url("_imagens/Salmin.png") no-repeat 100% 40%;
    padding: 10px;
}
#ptab {
     margin-bottom: 1px;
     border-bottom: double 2px #ff0011;
     border-top: double 2px #ff0011;
     background: url("_imagens/tab.png") no-repeat 100% 40%;
     padding: 10px;
 }
#pidade {
    margin-bottom: 1px;
    border-bottom: double 2px #ff0011;
    border-top: double 2px #ff0011;
    background: url("_imagens/idade.jpg") no-repeat 100% 40%;
    padding: 10px;
}
#ptemp {
    margin-bottom: 1px;
    border-bottom: double 2px #ff0011;
    border-top: double 2px #ff0011;
    background: url("_imagens/temp.png") no-repeat 78% 40%;
    padding: 10px;
}